:root {
    --red: #cf0a2c;
    --grey: #666;
    --yellow: #eaa903;
}

.candidatures {
    padding: 4em 0;
    /* property added for animations tes */
}

.candidatures>div {
    margin: 2em auto;
    width: 80%;
}

.candidatures>div>div>h1 {
    color: #747d88;
    font-size: 36px;
    font-weight: 500;
}

.candidatures__title {
    margin: 2em auto;
}

.candidatures__text {
    color: #555;
    font-size: 22px;
}

.candidatures_btn {
    color: var(--yellow);
    border-color: var(--yellow);
    margin: 1.5em auto;
}