:root {
    --red: #cf0a2c;
    --grey: #666;
    --yellow: #eaa903;
}

.candidatures {
    padding: 60px 0;
}

.candidatures>div {
    margin: 0 auto;
    padding: 27px 0;
    width: 80%;
    max-width: 1080px;
}

.candidatures__title p {
    color: #747d88;
    font-size: 36px;
    margin: 1em auto;
    margin-top: 0;
    line-height: 1.9em;
    font-weight: 500;
}

.candidatures__text>h3 {
    color: #555;
    font-size: 22px;
    margin: 1.5em 0;
}

.candidatures__btn {
    color: var(--yellow);
    border-color: var(--yellow);
    margin: 1.5em auto;
}

/* section for the animations */
.fade-in {
    opacity: 0;
    transform: scale(0);
    transition: all 750ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    transform: scale(1);
}

.fade-in-two {
    opacity: 0;
    transform: translateY(20px);
    transition: all 750ms ease-in;
}

.fade-in-two.show-fade {
    opacity: 1;
    transform: translateY(0);
}