:root {
    --red: #cf0a2c;
    --grey: #666;
    --yellow: #eaa903;
}

.diplomes {
    background-color: #eaa903;
    padding: 2em;
}

.diplomes>h1 {
    color: white;
    padding: 1em;
    font-size: 36px;
}

.diplomes>.grid {
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    grid-gap: 3em;
    align-content: center;
}

.grid>div {
    max-width: 550px;
}

.grid i {
    font-size: 70px;
    padding: 20px;
}

.grid p {
    padding: 10px;
    line-height: 2em;
}

@media (max-width : 1000px) {
    .diplomes .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid>div {
        max-width: 1000px;
    }

    .diplomes {
        background-color: unset;
    }

    .diplomes :not(i) {
        color: var(--grey);
    }

    .grid i {
        color: var(--red);
    }

    .grid p {
        font-size: 20px;
    }
}

@media (max-width : 500px) {
    .diplomes .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}