:root {
    --grey: #666;
}

.news {
    padding: 100px 0;
}

.news>h1 {
    width: fit-content;
    margin: 1em auto;
    color: #747D88;
    font-size: 36px;
}

.text>h2 {
    width: fit-content;
    margin: 1em auto;
    border-left: 5px solid #cf0a2c;
    padding-left: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5em;
    color: #555555;
}

.cards__container {
    margin: 0 auto;
    align-items: flex-start;
    width: 80%;
    max-width: 1080px;
}

.card {
    border: 1px solid transparent;
    margin-right: 30px;
    border-color: rgb(177, 176, 176);
    width: 29.667%;
}

.card * {
    font-family: Arial, Helvetica, sans-serif;
}


.card>img {
    width: 100%;
}

.card>.text {
    margin: 12px;
    color: #666666;

}

.text:not(h1) {
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 500;
}

@media (max-width: 1080px) {
    .card {
        width: 47.25%;
    }
}